// app.scss
// @import "scss-flex-grid/flex-grid";
@import '../node_modules/scss-flex-grid/flex-grid';
@import 'scss/media-queries';
@import 'scss/colors';
@import 'scss/animations';
@import 'scss/backgrounds';
@import 'components/toolbar/toolbar';
@import 'components/chease-picker/chease-picker';

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;

  @include tablet-down {
    margin-left: 0;
    margin-right: 0;
  }
}

.vert-center-row {
  display: flex;
  align-items: center;
}

.main-section {
  padding: 24px;
}

.toolbar {
  display: block;
}

.list-reset {
  padding-left: 0;
  list-style: none;
}

.list-cool {
  display: block;
  padding: 5px;
  background: #DDD;
  border-bottom: 1px solid #AAA;
}

.float-right {
  float: right;
}
