<md-toolbar class="toolbar toolbar__purple">
  <div class="container" layout="row" layout-align="start center" layout-padding="">
    <div class="row">
      <div class="col-xs-6 navbar-left" layout="row" layout-align="center start">
        <a class="logo" href="/">huddite</a>
      </div>

      <navbar-right class="col-xs-6">
        <md-button ng-href="/about">About</md-button>
        <!-- <blaze-template name="loginButtons"></blaze-template> -->
      </navbar-right>
    </div>
  </div>
</md-toolbar>
