.bg-beige {
  background-color: $beige;
}

.bg-orange {
  background-color: #e89600;
}

.bg-teal {
  background-color: #15a8b7;
}

.bg-lime {
  background-color: #6dbd25;
}

.bg-purple {
  background-color: #b71551 !important;
}
